.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}


.paraContainer,
.badgeForm {
    width: 100%;
    max-width: 500px;
    padding: 1rem
}

.badgeTitle {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primaryBlack);
    text-transform: capitalize;
    line-height: 2.2rem;
    padding: 1rem 0;

}

.desc {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primaryGrayDark);
    text-transform: capitalize;
    line-height: 1.4rem;
}

.hideIt {
    display: none;
}

.secTitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primaryGrayDark);
    text-transform: capitalize;
    line-height: 1.2rem;
    padding: 1rem 0;
}



.uploadImageBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    background: var(--primaryRed);
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    color: var(--primaryWhite);
    cursor: pointer;
    font-size: 0.9rem;
}

.imgName {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: var(--primaryGrayLight);
    color: var(--primaryWhite);
    border-radius: 50px;
    width: fit-content;
}

.shapeOptionContainer {
    position: relative;

    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryBlue);
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--primaryWhite);
    border-radius: 50px;
}

.originalOptionBtn,
.squareOptionBtn,
.circleOptionBtn {
    padding: 0.8rem 1.6rem;
    cursor: pointer;

}

.originalOptionBtn {
    border-radius: 50px 0 0 50px;
}

.squareOptionBtn {
    border-radius: 0px;
}

.circleOptionBtn {
    border-radius: 0 50px 50px 0;
}

.originalOptionBtn:hover,
.squareOptionBtn:hover,
.circleOptionBtn:hover {
    background: var(--primaryBlack);
}

.squareOptionBtn {
    border-left: 0.5px solid var(--primaryWhite);
    border-right: 0.5px solid var(--primaryWhite);
    border-radius: 0px;

}

.selectShape {
    position: relative;
    display: none;
}

.selectShape:checked+label {
    background-color: var(--primaryBlack);
}

.allBadgeOptionsContainer {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.badgeOptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badgeOption {
    border-radius: 10px;
    width: max-content;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.badgeOption:hover {
    cursor: pointer;
    scale: 1.02;
    box-shadow: 0 4px 20px 0 rgba(125, 168, 249, 0.2);
}

.badgeImageContainer {
    position: relative;
    width: 100px;
    height: auto;
    overflow: hidden;
}


.imageContainer {
    position: relative;
}

.badgeContainer {
    position: absolute;
    bottom: 0;

}

.userImageStyle {
    width: 100px;
}

.selectBadge {
    display: none;

}

.selectBadge:checked+label {
    border: 1px solid var(--primaryBlack);

}


.badgeViewContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding: 1rem; */
    /* background-color: var(--primaryBlueExtraLight); */
    border-radius: 0.5rem;
}

.cropViewTitle {
    position: relative;

    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
    line-height: 1.2rem;
    padding: 1rem 0;

}

.cropViewContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.uploadedImageContainer {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

/* 
.uploadedImageContainer:hover {
    cursor: move;
    -ms-overflow-style: scrollbar;
 
    scrollbar-width: 5px;
    
}

.uploadedImageContainer:hover::-webkit-scrollbar {
    display: block;
    width: 10px;

}

.uploadedImageContainer:hover::-webkit-scrollbar-track {
    background: #5b99f7;
}


.uploadedImageContainer:hover::-webkit-scrollbar-thumb {
    background: #efecec;
    padding: 2px;
    border-radius: 10px;
} */

.uploadImageViewStyle {
    position: relative;
    width: 100%;
    height: 100%;

}

.uploadBadgeViewStyle {
    position: relative;
    width: 100%;
    height: 100%;
}

.realBadgeContainer {
    position: absolute;
    bottom: -5px;
}

.cropViewContainer,
.uploadedImageContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.cropViewContainer::-webkit-scrollbar,
.uploadedImageContainer::-webkit-scrollbar {
    display: none;
}

.badgeDownloadBtn {
    width: 100%;
    background-color: var(--primaryRed);
    color: var(--primaryWhite);
    padding: 0.8rem 1.6rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
}

.demoView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    background-color: var(--primaryBlueExtraLight);
    border-radius: 10px;

}

.yourImage {
    padding: 2rem;
    background-color: var(--primaryBlueLight);
    border-radius: 10px;
    color: var(--primaryWhite);
}

.yourBadge {
    padding: 2rem;
    background-color: var(--primaryBlueLight);
    border-radius: 10px;
    color: var(--primaryWhite);

}