:root {
  /* background colors  */
  --primaryWhite: #ffffff;
  --primaryBlack: #353535;
  --primaryGrayDark: #616161;
  --primaryGray: #8a8989;
  --primaryGrayLight: #b3b2b2;
  --primaryBlue: #4286f5;
  --primaryBlueLight: #72A8FF;
  --primaryBlueExtraLight: #DCE9FF;
  --primaryYellow: #FBCA35;
  --primaryYellowLight: #fcdf87;
  --primaryYellowExtraLight: #FFF4D3;
  --primaryRed: #FF696E;
  --primaryRedLight: #fba3a3;
  --primaryRedExtraLight: #FFEEEE;
  --primaryGreen:rgb(135, 224, 133);
  --primaryGreenLight:rgb(196, 230, 196);
  --primaryGreenExtraLight:rgb(82, 225, 79);

  /* text colors  */
  --sectionTitleColor: #616161;

  /* font sizes */
  --sectionTitleFontSize: 2.5rem;
  --sectionTitleFontSizeMob: 1.5rem;

  /* font weight */
  --sectionTitleFontWeight: bolder;


}

@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* transition: all 0.2s ease-in; */
  user-select: none;
}

html,
body {
  max-width: 100vw;
  scroll-snap-type: x mandatory;

}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}

.section {
  position: relative;
  padding: 4rem 2rem;
}

.connectwithus {
  position: relative;
  padding: 8rem 2rem 2rem 2rem;
}

.title {
  margin: auto;
  /* width: 100%; */
  color: var(--sectionTitleColor);
  font-size: var(--sectionTitleFontSize);
  font-weight: var(--sectionTitleFontWeight);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;

}

.title::after {
  content: '';
  position: relative;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 4px;
  border-radius: 50px;
  background-color: var(--primaryYellow);
}

@media screen and (max-width: 800px) {
  .title {
    font-size: var(--sectionTitleFontSizeMob);
  }

  .title::after {
    width: 100px;
  }


  .section {
    position: relative;
    padding: 2rem;
  }

}