.container {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    /* background-color: var(--primaryBlack); */
    background-color: rgb(26, 26, 27);
    /* box-shadow: 0 4px 10px 0 rgba(172, 209, 255, 0.228); */
}

.navWrapper {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;

}

.imgStyle {
    position: relative;
    width: 80px;
    height: 30px;
    cursor: pointer;
    padding: 1rem;
}

.menus {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menulist {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}



.menuitem {
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primaryGrayLight);
    cursor: pointer;
    transition: all 0.1s ease-in;
    text-decoration: none;

}

.menuitem:hover {
    color: var(--primaryRed);
    /* font-weight: 600; */
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--primaryRed);
}

.cover {
    display: block;
}

.deskBtn,
.mobbtn {
    border: 2px solid black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
}

.deskBtn:hover,
.mobbtn:hover {
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

.menulist div.mobbtn {
    display: none;
}

.mobMenu {
    display: none;
}

.checkBox {
    display: none;
}

@media screen and (max-width:800px) {

    div.deskBtn,
    .cover {
        display: none;
    }

    .menulist div.mobbtn {
        display: block;
        background-color: black;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        color: white;
        font-size: 0.8rem;
        cursor: pointer;
        margin: 1rem 0;
    }

    .menulist {
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
        background-color: white;
        padding: 2rem;
        transition: all 0.3s ease-in;
        box-shadow: 0 4px 10px 0 rgba(172, 209, 255, 0.228);

    }

    .menuitem {
        color: black;

    }

    .mobMenu {
        display: block;
        padding: 1rem;
        cursor: pointer;
    }

    .threebar,
    .crossIcon {
        width: 20px;
    }

    .crossIcon {
        display: none;
    }

    .checkBox:checked~.menulist {
        top: 65px;
        opacity: 1;

    }

    .checkBox:checked~label.mobMenu>.threebar {
        display: none;
    }

    .checkBox:checked~label.mobMenu>.crossIcon {
        display: block;
    }

}